.card {
  border: 0.1rem solid #000000a2;
  color: white;
  background-color: rgba(30, 30, 50, 0.96);
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0.75rem;
  box-shadow: -0.25rem 0.25rem rgba(19, 32, 61, 0.5);
}

.card hr {
  border: 0;
  height: 1px;
  background-color: white;
  margin: 1rem 0.75rem;
}

.cardImage {
  width: 100%;
  height: auto;
}

.cardTitle {
  font-size: 1.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.cardSubtitle {
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold;
  font-style: italic;
  opacity: 0.85;
  margin-bottom: 0.75rem;
}

.cardDescription {
  font-size: 0.875rem;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  opacity: 0.9;
}

.cardLinks .cardButton {
  display: inline-block;
  margin: 0.25rem 0.5rem 1rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border-radius: 0.25rem;
  text-decoration: none;
  font-size: 0.875rem;
}

.cardButton:hover {
  background-color: #0056b3;
}
